<div class="panel">
    <h2>Let's Play Some TicTacToe</h2>
    <form class="row">
        <div class="col-sm-12">
            <label for="userTwoName">Player One</label>
            <div class="input-group">
                <input name="userOneName" [(ngModel)]="userOneName" (change)="updateUserOne()" type="text" class="form-control" placeholder="Name">
                <span class="input-group-btn">
                    <button (click)="toggleTile()" class="btn btn-secondary">
                        <span *ngIf="userOneTileType == 0">X</span>
                        <span *ngIf="userOneTileType == 1">O</span>
                    </button>
                </span>
            </div>
        </div>

        <hr>

        <div class="col-sm-12">
            <label for="userTwoName">Player Two</label>
            <div class="input-group">
                <input name="userTwoName" [(ngModel)]="userTwoName" (change)="updateUserTwo()" type="text" class="form-control" placeholder="Name">
                <span class="input-group-btn">
                    <button (click)="toggleTile()" class="btn btn-secondary">
                        <span *ngIf="userTwoTileType == 0">X</span>
                        <span *ngIf="userTwoTileType == 1">O</span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-sm-12">
            <button (click)="gameStart()" class="btn btn-default btn-block">Start the Game!</button>
        </div>
    </form>
</div>

{{userOne | json}} {{userTwo | json}}