$white: #f6eddc;
$brown: #c7ad88;
$blue: #37d9ee;
$light-blue: #b0e5dd;
$red: #935347;
$yellow: #fdbe3c;
$black: #000;
$gray: lighten($black, 80%);

@import 'typography/typography';
@import 'nav/nav';

section.landing-hero {
    background-color: $blue;
    min-height: 50vh;
    padding: 50px;
    position: relative;
    text-align: center;

    div.hero-copy {
      position: relative;
      top: 10%;
    }
}
  section.show-divider {
    background-color: $blue;
    min-height: 50px;
    text-align: center;

    h2 {
      margin-bottom: 0;
      margin-top: 0;
      padding-top: 0;
    }
  }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0; 
  & > [class^='col-'],
  & > [class*=' col-'] {
    padding-right: 0;
    padding-left: 0; 
  }
}

.box {
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before {
    content: '';
    display: block;
    padding-top: 90%;
  }
}

.red {
  background-color: $red;
}

.white {
  background-color: $white;
  color: $black;
}

.brown {
  background-color: $brown;
}

.blue {
  background-color: $light-blue;
}

.yellow {
  background-color: $yellow;
}

.box-content {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  h3,
  p {
    text-align: center;
  }

  &:hover {
    cursor: pointer;
  }
}

@import 'components/accordion';
@import 'single-divs/calculator-icon';
@import 'single-divs/creditcard-icon';
@import 'vendor/prism';
