$board-width: 300px;
$board-height: 300px;

.game-board {
    position: relative;
    top: 15px;

    .current-player {
        padding: 25px;
    }

    .board-rows {
        position: relative;
        top: 12px;

        .board-row {
            position: relative;
            margin-left: auto;
            margin-right: auto;   
            margin-bottom: 5px;       
            height: 100px;
            width: 300px;

            .board-tile {
                position: relative;
                height: 90px;
                width: 90px;
                margin-left: 5px;
                margin-right: 5px;
                display: inline-block;
                background-color: lightblue;   
            }
        }
    }

    .scoreboard {
        width: 270px;
        text-align: justify;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;

        .scoreboard-title {
            display: inline-block;
           transform: translate(0,-50%);
        }
        .player {
            display: inline-block;
        }

        .player-two {
            text-align: right;
        }

        .stretch {
            width: 100%;
            display: inline-block;
            font-size: 0;
            line-height: 0;
        }
    }
}


.x {
  position: relative;
  margin: auto;
  top: 40px;
  transform: rotate(-45deg);
  width: 50px;
  opacity: 1;
  border-top: solid white 3px;
  animation: x-in .5s 1 ease-in-out;
  &::after {
    content: '';
    display: block;
    position: relative;
    transform: rotate(-90deg);
    width: 50px;
    opacity: 1;
    border-top: solid white 3px;
  }
}

@keyframes x-in {
  0% {opacity: 0; transform: rotate(360deg);}
  100% {opacity: 1; transform: rotate(-45deg);}
}

.o {
  position: relative;
  margin: auto;
  top: 20px;    
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid white;
  animation: rotate-anchor .5s 1 ease-in-out;
}

@keyframes rotate-anchor {
    0% { 
        transform: scale(0);
        opacity: 0; 
        border-top-color: white;
    }
    100% { 
        transform: scale(1);
        opacity: 1;
        border-left-color: white;
    }
}