.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: white;
    z-index: 999;
}

.exit {
    right: 75px;
    top: 50px;
    position: fixed;
    cursor: pointer;
}

