@import 'https://fonts.googleapis.com/css?family=BioRhyme|Sigmar+One|Share+Tech+Mono';

$white: #F6EDDC;
$brown: #c7ad88;
$blue: #37D9EE;
$light-blue: #B0E5DD;
$red: #935347;
$yellow: #FDBE3C;
$black: #000;
$gray: lighten(black, 80%);


h1, h2, h3, h4, h5, p {
  color: $white;
  font-family: 'Sigmar One', cursive;
}
h1 {
  font-size: 5em;
}
h2 {
  font-size: 3.5em;
}
h3 {
  font-size: 3em;
}
h4 {
  font-size: 2.5em;
}
p {
  font-family: 'BioRhyme', serif;
  font-size: 1.5em;
}

section.landing-hero {
  padding: 50px;
  min-height: 50vh;
  background-color: $blue;
  position: relative;
  text-align: center;
  
  div.hero-copy {
    position: relative;
    top: 10%;
  }
}

section.show-divider {
  min-height: 50px;
  background-color: $blue;
  text-align: center;

  h2 {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.box {
  position: relative;
  width: 100%;
  overflow: hidden;

  &:before {
    content: ""; 
    display: block; 
    padding-top: 90%;
  }
}

.red {
   background-color: $red;
}
.white {
   background-color: $white;
   color: $black;
}
.brown {
   background-color: $brown;
}
.blue {
  background-color: $light-blue;
}
.yellow {
  background-color: $yellow;
}

.box-content {
  position: absolute; 
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0; 
  h3, p {
    text-align: center;
  }
  &:hover {
    cursor: pointer; 
    cursor: hand;
  }
}

// SINGLE DIV ELEMENTS
#credit-card {
  margin-left: auto;
  margin-right: auto;
  font-family: helvetica;
  height: 110px;
  width: 200px;
  border-radius: 7px;
  background-image: 
  linear-gradient(35deg, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.1) 55%, transparent 60%),
  linear-gradient(to bottom right, $blue, lighten($blue, 30%));
  margin-top: 5px;
  margin-bottom: 5px;
  transition: transform .8s ease-in;

  &:after {
    position: relative;
    content: '4000 1234 5678 9010';
    top: 40px;
    left: 20px;
    color: $white;
  }
  
  &:before {
    content: "";
    display: block;
    position: relative;
    top: 30px;
    left: 10%;
    z-index: 1;
    height: 25px;
    width: 35px;
    border-radius: 6px;
    background-image: 
    linear-gradient(to bottom, 
    transparent 25%,
    $gray 25%,
    $gray 26%,
    transparent 26%,
    transparent 53%,
    $gray 54%,
    $gray 49%,
    transparent 54%,
    transparent 75%,
    $gray 81%,
    $gray 81%,
    transparent 78%),
    linear-gradient(to right,
    transparent 50%,
    $gray 50%,
    $gray 54%,
    transparent 51%),
    radial-gradient(
    ellipse at 18px, 
    transparent 30%, 
    $gray 30%,
    $gray 32%,
    transparent 33%),
    linear-gradient(to right, $yellow, lighten($yellow, 15%));
  }

  &:hover {
    background-image: 
      linear-gradient(30deg, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.1) 55%, transparent 60%),
      linear-gradient(to bottom right, $blue, lighten($blue, 30%));
    transform: scale(1.3) rotate3d(2, 2.0, 3.0, 10deg);
    transition: transform .3s ease-in-out;
    z-index: 9999;
  }

}

#calculator {
  $calc-color: #f0ede6;
  $btn-color: #f7f4ef;
  $btn-orange-color: #e57c46;
  $btn-gray-color: #888b98;

  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 100px;
  height: 120px;
  background-color: $calc-color;
  border-radius: 10px;
  border: .1px solid darken($calc-color, 10%);
  
  &:after {
    position: absolute;
    display: block;
    font-family: 'Share Tech Mono', monospace;
    font-size: 15px;
    line-height: 27px;
    text-indent: 48px;
    content: '307';
    background-image: linear-gradient(
            to bottom,
            rgba(211,211,211,.5) 5%,
            white 60%
        );
    border-radius: 3px;
    border: .5px solid darken($calc-color, 10%);
    top: 12px;
    left: 9px;
    width: 80px;
    height: 25px;
  }
  
  &:before {
    position: absolute;
    display: block;
    content: '';
    background-color: $btn-color;
    border-radius: 3px;
    border: .1px solid darken($calc-color, 10%);
    top: 49px;
    left: 9px;
    width: 22px;
    height: 15px;
    box-shadow: 
    29px 0px 0 -1px $btn-color,
    29px 0px 0 0px darken($calc-color, 10%),
    58px 0px 0 -1px $btn-color,
    58px 0px 0 0px darken($calc-color, 10%),
    
    0px  22px 0 -1px $btn-color,
    0px  22px 0 0px darken($calc-color, 10%),
    29px 22px 0 -1px $btn-color,
    29px 22px 0 0px darken($calc-color, 10%),
    58px 22px 0 -1px $btn-color,
    58px 22px 0 0px darken($calc-color, 10%),
    
    0px  44px 0 -1px $btn-color,
    0px  44px 0 0px darken($calc-color, 10%),
    29px 44px 0 -1px $btn-color,
    29px 44px 0 0px darken($calc-color, 10%),
    58px 44px 0 -1px $btn-color,
    58px 44px 0 0px darken($calc-color, 10%),
    ;
    
  }  
  
}