<section class="ttc__resolution">
    <div *ngIf="!isTie">
        <h2>{{winner.name}} Won!</h2>
        <h5>Score: {{winner.score}}</h5>
        <h5>Tile: {{winner.tileType}}</h5>
    </div>
    <h2 *ngIf='isTie'>It was a tie! Try Again!</h2>
    
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" (click)="playAgain()" class="btn btn-primary">Play Again!</button>
        <button type="button" (click)="newGame()" class="btn btn-primary">New Game</button>
    </div>
</section>