/// <reference path="./base/_colors.scss" />
$ttc-border-color: gray;
$ttc-border-radius: 1px;
$ttc-color-o: green;
$ttc-color-x: red;

.tictactoe {
    display: block;
    height: 100vh;
}

.ttc__game-board {
    position: relative;
    height: 80%;
}

.ttc__user-scoreboard {
    position: relative;    
    height: 20%;
}

.ttc__game-board-row {
    height: 33.3%;
    &:first-child {
        border-bottom: $ttc-border-radius solid $ttc-border-color;
    } 
    &:last-child {
        border-top: $ttc-border-radius solid $ttc-border-color;        
    }
}

.ttc__game-board-tile {
    height: 100%;
    overflow: hidden;
    &:nth-child(1) {
        border-right: $ttc-border-radius solid $ttc-border-color;
    }         
    &:nth-child(3) {
        border-left: $ttc-border-radius solid $ttc-border-color;
    }
}


$ttc-tiletype-width: 1em;
$ttc-tiletype-height: $ttc-tiletype-width * 5;

.x {
    position:relative;
    margin: auto;
    width: $ttc-tiletype-width;
    height: $ttc-tiletype-height;
    background: #2C2C2C;
    transform: rotate(45deg);
    font-size: 22px;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: $ttc-tiletype-width;
        height: $ttc-tiletype-height;
        background: #2C2C2C;
        transform: rotate(-90deg);        
    }
}

.o {
	height:$ttc-tiletype-height;
    width: $ttc-tiletype-height;
	margin: auto;
	border-radius:50%;
	border:solid $ttc-tiletype-width #2c2c2c;
    font-size: 22px;
}


.null {
    &:before {
        position: absolute;
        top: 25%;
        left: 25%;
        bottom: 25%;
        right: 25%;
        content: '';
        border-radius: 75%;
        background-color: lightgray;
        opacity: .1;
    }
}

.ttt__animation-in {
    animation: fadeIn 1000ms;    
}

@keyframes in { 
    from {
        opacity: 0;
        transform: rotate(180deg);
    }
    to {
        opacity: 1;
        transform: rotate(0deg);
    }
}

@keyframes out { 
    from {
        transform: scale(0,0);   
    }
    to {
        transform: scale(3, 3);
        opacity: 0;
    }
}
