.stocks-wrapper {
    min-height: 100%;
    overflow: hidden;
    background-color: #F23568;
}

.chart {
    position: relative;
    display: block;
    margin: auto;
    left:  0;
    top: 30;
    fill: white;
  background-color: white;
  z-index: 1;    
}

.line {
  fill: none;
  stroke-width: 1px;
  stroke: lightsteelblue;
}

.axis path,
.axis line {
  fill: none;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.tooltip-line {
  stroke-width: 1;
  stroke: lightgray;
}

.stock-title,
.stock-subtitle,
.stock-dateinfo {
  font-family: 'Roboto Condensed', sans-serif;
}

.stock-title {
  font-weight: 700;
  font-size: 36px;
}

.stock-subtitle,
.stock-dateinfo {
  font-weight: 300;
  font-size: 14px;
  fill: lightgray;
}

.date-range-container {
  position: relative;
  top: 600px;
  width: 400px;
  padding: 0;
  margin: auto;
  list-style: none;
  display: flex;
  justify-content: space-between;

  .date-range {
    background: tomato;
    padding: 5px;
    width: 40px;
    height: 40px;
    margin: 1px;
    line-height: 30px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
  }
}


