.stocks {
  padding: 200px;
}

.line {
  fill: none;
  stroke-width: 1px;
  stroke: lightsteelblue;
}



.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
