/// <reference path="./base/_colors.scss" />
$ttc-border-color: gray;
$ttc-border-radius: 1px;
$ttc-color-o: green;
$ttc-color-x: red;

.tictactoe-wrapper {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    background-color: #FFAF27; 
}

.tictactoe {
    position: relative;
    top: 100px;
    height: 400px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;    
    border-radius: 15px;
    background-color: white; 

    .ttc__game-board {
        position: relative;
        height: 100%;
        width: 100%;
    }

    .ttc__resolution {
        position: relative;
        height: 80vh;
        text-align: center;
        margin-top: 10vh;
    }

    .ttc__user-scoreboard {
        position: relative;    
        height: 20vh;
    }

    .ttc__game-board-row {
        height: 33.33%;
        width: 100%;
        &:first-child {
            border-bottom: $ttc-border-radius solid $ttc-border-color;
        } 
        &:last-child {
            border-top: $ttc-border-radius solid $ttc-border-color;        
        }
    }

    .ttc__game-board-tile {
        background-color: black;
        height: 100%;
        width: 33%;
        overflow: scroll;
        &:nth-child(1) {
            border-right: $ttc-border-radius solid $ttc-border-color;
        }         
        &:nth-child(3) {
            border-left: $ttc-border-radius solid $ttc-border-color;
        }
    }

    $ttc-tiletype-width: 1em;
    $ttc-tiletype-height: $ttc-tiletype-width * 5;

    .x, .o, .null {
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
    }

    .x {
        position:relative;
        vertical-align: middle;
        width: $ttc-tiletype-width;
        height: $ttc-tiletype-height;
        background: #2C2C2C;
        transform: rotate(45deg);
        font-size: 22px;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: $ttc-tiletype-width;
            height: $ttc-tiletype-height;
            background: #2C2C2C;
            transform: rotate(-90deg);        
        }
    }

    .o {
        height:$ttc-tiletype-height;
        width: $ttc-tiletype-height;
        border-radius:50%;
        border:solid $ttc-tiletype-width #2c2c2c;
        font-size: 22px;
    }

    @media only screen and (max-width: 500px) {
        .x, .x:after, .o {
            height:$ttc-tiletype-height * .7;
            width: $ttc-tiletype-height * .7;
        font-size: 12px;
            
        }
    }

    .null {
        &:before {
            position: absolute;
            top: 25%;
            left: 25%;
            bottom: 25%;
            right: 25%;
            content: '';
            border-radius: 75%;
            background-color: lightgray;
            opacity: .1;
        }
    }

    .ttt__animation-in {
        animation: fadeIn 1000ms;    
    }

    @keyframes in { 
        from {
            opacity: 0;
            transform: rotate(180deg);
        }
        to {
            opacity: 1;
            transform: rotate(0deg);
        }
    }

    @keyframes out { 
        from {
            transform: scale(0,0);   
        }
        to {
            transform: scale(3, 3);
            opacity: 0;
        }
    }

}