$nav-color: green;
$nav-transition-open: opacity .5s;
$nav-transition-close: opacity .5s, visibility .6s;


.navigation-logo,
.navigation-menu {
    position: absolute;
    top: 50px;
    transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44)
}

.navigation-menu {
    right: 100px;
}

.navigation-logo {
    left: 100px;
}

@media (max-width: 850px) {
  .navigation-logo {
      transform: rotate(90deg);
      left: 15px;
      top: 100px;
  }
  .navigation-menu {
      transform: rotate(90deg);
      left: 0px;
      right: auto;
      top: 117px;      
  } 
}

