<div class="tictactoe-wrapper">
    <div class="tictactoe fade">
        <router-outlet></router-outlet>
    </div>

    <div class="project-description">
        <h3>A TicTacToe Game That Keeps Track Of The Score</h3>
        <pre>
            <code>
        FILE TREE:

        tictactoe/
        ----- tictactoe.component.ts
        ----- tictactoe.component.html
        ----- tictactoe.routes.ts
        ----- tictactoe.service.ts
        ----- tictactoe.service.spec.ts

        ----- setup/
        ---------- setup.component.ts
        ---------- setup.component.html        
        ----- board/
        ---------- board.component.ts
        ---------- board.component.spec.ts    
        ---------- board.component.html                      
        ----- end/
        ---------- end.component.ts
        ---------- end.component.html           

 <a class="github-link" target="_blank" href="https://github.com/JosephFarina/portfolio/blob/master/app/projects/calculator/calculator.component.spec.ts"></a>

        SCSS FILES:

        tictactoe.scss
        tictactoe-board.scss
        tictactoe-setup-end.scss
          </code>
        </pre>
    </div>
</div>