<div class="tictactoe-wrapper">
    <div class="tictactoe fade">
        <router-outlet></router-outlet>
    </div>

    <div class="project-description">
        <h3>A TicTacToe Game That Keeps Track Of The Score</h3>
        <pre>
            <code>
        FILE TREE:

        <a class="github-link" target="_blank" href="https://github.com/JosephFarina/portfolio/tree/master/app/projects/tictactoe">tictactoe/</a>
        ----- <a class="github-link" target="_blank" href="https://github.com/JosephFarina/portfolio/blob/master/app/projects/tictactoe/tictactoe.component.ts">tictactoe.component.ts</a>
        ----- <a class="github-link" target="_blank" href="https://github.com/JosephFarina/portfolio/blob/master/app/projects/tictactoe/tictactoe.component.html">tictactoe.component.html</a>
        ----- <a class="github-link" target="_blank" href="https://github.com/JosephFarina/portfolio/blob/master/app/projects/tictactoe/tictactoe.routes.ts">tictactoe.routes.ts</a>
        ----- <a class="github-link" target="_blank" href="https://github.com/JosephFarina/portfolio/blob/master/app/projects/tictactoe/tictactoe.service.ts">tictactoe.service.ts</a>
        ----- <a class="github-link" target="_blank" href="https://github.com/JosephFarina/portfolio/blob/master/app/projects/tictactoe/tictactoe.service.spec.ts">tictactoe.service.spec.ts</a>

        <a class="github-link" target="_blank" href="https://github.com/JosephFarina/portfolio/tree/master/app/projects/tictactoe/setup">setup/</a>
        ---------- <a class="github-link" target="_blank" href="https://github.com/JosephFarina/portfolio/blob/master/app/projects/tictactoe/setup/setup.component.html">setup.component.html</a>
        ---------- <a class="github-link" target="_blank" href="https://github.com/JosephFarina/portfolio/blob/master/app/projects/tictactoe/setup/setup.component.ts">setup.component.ts</a>
        <a class="github-link" target="_blank" href="https://github.com/JosephFarina/portfolio/tree/master/app/projects/tictactoe/board">board/</a>
        ---------- <a class="github-link" target="_blank" href="https://github.com/JosephFarina/portfolio/blob/master/app/projects/tictactoe/board/board.component.ts">board.component.ts</a>
        ---------- <a class="github-link" target="_blank" href="https://github.com/JosephFarina/portfolio/blob/master/app/projects/tictactoe/board/board.component.spec.ts">board.component.spec.ts</a>    
        ---------- <a class="github-link" target="_blank" href="https://github.com/JosephFarina/portfolio/blob/master/app/projects/tictactoe/board/board.component.html">board.component.html</a>              
        <a class="github-link" target="_blank" href="https://github.com/JosephFarina/portfolio/tree/master/app/projects/tictactoe/end">end/</a>
        ---------- <a class="github-link" target="_blank" href="https://github.com/JosephFarina/portfolio/blob/master/app/projects/tictactoe/end/end.component.ts">end.component.ts</a>
        ---------- <a class="github-link" target="_blank" href="https://github.com/JosephFarina/portfolio/blob/master/app/projects/tictactoe/end/end.component.html">end.component.html</a>           

        SCSS FILES:

        <a class="github-link" target="_blank" href="https://github.com/JosephFarina/portfolio/blob/master/scss/projects/tictactoe/tictactoe.scss">tictactoe.scss</a>
        <a class="github-link" target="_blank" href="https://github.com/JosephFarina/portfolio/blob/master/scss/projects/tictactoe/tictactoe-board.scss">tictactoe-board.scss</a>
        <a class="github-link" target="_blank" href="https://github.com/JosephFarina/portfolio/blob/master/scss/projects/tictactoe/tictactoe-setup-end.scss">tictactoe-setup-end.scss</a>
          </code>
        </pre>
    </div>
</div>