$hamburger-background-color: transparent;
$hamburger-bar-color: grey;
$hamburger-bar-active-color: white;
$hamburger-bar-height: 8px;
$hamburger-bar-top-after: 20px;
$hamburger-width: 96px;
$hamburger-height: $hamburger-width;

.hamburger {
    background: $hamburger-background-color;
    display: block;
    position: fixed;
    top: 0px;
    right: 50px;
    z-index: 999;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: $hamburger-width;
    height: $hamburger-height;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;

    &:focus {
        outline: none;
    }

    span {
        transition: background 0s 0.3s;
        display: block;
        position: absolute;
        top: 44px;
        left: 18px;
        right: 18px;
        height: 8px;
        background: $hamburger-bar-color;

        &:before, 
        &:after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 8px;
            background-color: $hamburger-bar-color;
            content: '';
            transition-duration: 0.3s, 0.3s;
            transition-delay: 0.3s, 0s;            
        }

        &:before {
            top: -20px;
            transition-property: top,transform, background-color;
            
        }

        &:after {
            top: 20px;
            transition-property: top,transform, background-color;
        }
    }
}

.hamburger.is-active {
    span {
        background: none;

        &:before,
        &:after {
            transition-delay: 0s, 0.3s;
            background-color: $hamburger-bar-active-color;            
        }

        &:before {
            top: 0;            
            transform: rotate(45deg);
        }
        &:after {
            top: 0;
            transform: rotate(-45deg);
        }        
    }
}

