
$white: #f6eddc;

#calculator {
  $btn-color: #f7f4ef;
  $btn-orange-color: #e57c46;
  $btn-gray-color: #888b98;
  $calc-color: #f0ede6;
  $screen: rgba(211, 211, 211, .5);
  background-color: $calc-color;
  border: .1px solid darken($calc-color, 10%);
  border-radius: 10px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100px;

  &::after {
    background-image: linear-gradient(to bottom, $screen 5%, $white 60%);
    border: .5px solid darken($calc-color, 10%);
    border-radius: 3px;
    content: '307';
    display: block;
    font-family: 'Share Tech Mono', monospace;
    font-size: 15px;
    height: 25px;
    left: 9px;
    line-height: 27px;
    position: absolute;
    text-indent: 48px;
    top: 12px;
    width: 80px;
  }

  &::before {
    background-color: $btn-color;
    border: .1px solid darken($calc-color, 10%);
    border-radius: 3px;
    box-shadow: 29px 0 0 -1px $btn-color, 29px 0 0 0 darken($calc-color, 10%), 58px 0 0 -1px $btn-color, 58px 0 0 0 darken($calc-color, 10%), 0 22px 0 -1px $btn-color, 0 22px 0 0 darken($calc-color, 10%), 29px 22px 0 -1px $btn-color, 29px 22px 0 0 darken($calc-color, 10%), 58px 22px 0 -1px $btn-color, 58px 22px 0 0 darken($calc-color, 10%), 0 44px 0 -1px $btn-color, 0 44px 0 0 darken($calc-color, 10%), 29px 44px 0 -1px $btn-color, 29px 44px 0 0 darken($calc-color, 10%), 58px 44px 0 -1px $btn-color, 58px 44px 0 0 darken($calc-color, 10%);
    content: '';
    display: block;
    height: 15px;
    left: 9px;
    position: absolute;
    top: 49px;
    width: 24px;
  }

}
