@import 'https://fonts.googleapis.com/css?family=BioRhyme|Sigmar+One|Share+Tech+Mono';
h1, 
h2, 
h3, 
h4, 
h5, 
p {
  color: #F6EDDC;
  font-family: 'Sigmar One', cursive; }

h1 {
  font-size: 5em; }

h2 {
  font-size: 3.5em; }

h3 {
  font-size: 3em; }

h4 {
  font-size: 2.5em; }

p {
  font-family: 'BioRhyme', serif;
  font-size: 1.5em; }

section.landing-hero {
  padding: 50px;
  min-height: 50vh;
  background-color: #37D9EE;
  position: relative;
  text-align: center; }
  section.landing-hero div.hero-copy {
    position: relative;
    top: 10%; }

section.show-divider {
  min-height: 50px;
  background-color: #37D9EE;
  text-align: center; }
  section.show-divider h2 {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0; }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .row.no-gutters > [class^="col-"],
  .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0; }

.box {
  position: relative;
  width: 100%;
  overflow: hidden; }
  .box:before {
    content: "";
    display: block;
    padding-top: 90%; }

.red {
  background-color: #935347; }

.white {
  background-color: #F6EDDC;
  color: #000; }

.brown {
  background-color: #c7ad88; }

.blue {
  background-color: #B0E5DD; }

.yellow {
  background-color: #FDBE3C; }

.box-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
  .box-content h3, .box-content p {
    text-align: center; }
  .box-content:hover {
    cursor: pointer;
    cursor: hand; }

#credit-card {
  margin-left: auto;
  margin-right: auto;
  font-family: helvetica;
  height: 110px;
  width: 200px;
  border-radius: 7px;
  background-image: linear-gradient(35deg, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.1) 55%, transparent 60%), linear-gradient(to bottom right, #37D9EE, #c4f4fa);
  margin-top: 5px;
  margin-bottom: 5px;
  transition: transform .8s ease-in; }
  #credit-card:after {
    position: relative;
    content: '4000 1234 5678 9010';
    top: 40px;
    left: 20px;
    color: #F6EDDC; }
  #credit-card:before {
    content: "";
    display: block;
    position: relative;
    top: 30px;
    left: 10%;
    z-index: 1;
    height: 25px;
    width: 35px;
    border-radius: 6px;
    background-image: linear-gradient(to bottom, transparent 25%, #cccccc 25%, #cccccc 26%, transparent 26%, transparent 53%, #cccccc 54%, #cccccc 49%, transparent 54%, transparent 75%, #cccccc 81%, #cccccc 81%, transparent 78%), linear-gradient(to right, transparent 50%, #cccccc 50%, #cccccc 54%, transparent 51%), radial-gradient(ellipse at 18px, transparent 30%, #cccccc 30%, #cccccc 32%, transparent 33%), linear-gradient(to right, #FDBE3C, #fed788); }
  #credit-card:hover {
    background-image: linear-gradient(30deg, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.1) 55%, transparent 60%), linear-gradient(to bottom right, #37D9EE, #c4f4fa);
    transform: scale(1.3) rotate3d(2, 2, 3, 10deg);
    transition: transform .3s ease-in-out;
    z-index: 9999; }

#calculator {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 100px;
  height: 120px;
  background-color: #f0ede6;
  border-radius: 10px;
  border: 0.1px solid #ddd6c6; }
  #calculator:after {
    position: absolute;
    display: block;
    font-family: 'Share Tech Mono', monospace;
    font-size: 15px;
    line-height: 27px;
    text-indent: 48px;
    content: '307';
    background-image: linear-gradient(to bottom, rgba(211, 211, 211, 0.5) 5%, white 60%);
    border-radius: 3px;
    border: 0.5px solid #ddd6c6;
    top: 12px;
    left: 9px;
    width: 80px;
    height: 25px; }
  #calculator:before {
    position: absolute;
    display: block;
    content: '';
    background-color: #f7f4ef;
    border-radius: 3px;
    border: 0.1px solid #ddd6c6;
    top: 49px;
    left: 9px;
    width: 22px;
    height: 15px;
    box-shadow: 29px 0px 0 -1px #f7f4ef, 29px 0px 0 0px #ddd6c6, 58px 0px 0 -1px #f7f4ef, 58px 0px 0 0px #ddd6c6, 0px 22px 0 -1px #f7f4ef, 0px 22px 0 0px #ddd6c6, 29px 22px 0 -1px #f7f4ef, 29px 22px 0 0px #ddd6c6, 58px 22px 0 -1px #f7f4ef, 58px 22px 0 0px #ddd6c6, 0px 44px 0 -1px #f7f4ef, 0px 44px 0 0px #ddd6c6, 29px 44px 0 -1px #f7f4ef, 29px 44px 0 0px #ddd6c6, 58px 44px 0 -1px #f7f4ef, 58px 44px 0 0px #ddd6c6; }
