$project-container-marginleft: 25px;

body {
    margin-top: 0;
}


.home-container {
    min-height: 100vh;
    background-color: #EE4236;
    color: white;
    overflow-X: hidden;
    transition: all .2s cubic-bezier(.87,-.41,.19,1.44);
}

p {
    color: white;
}

.project-container {
    position: relative;
    top: 150px;
    margin-left: 75px;
    margin-right: 50px;
    max-width: 500px;
    border-left: .5px solid white;  
    transition: all .2s cubic-bezier(.87,-.41,.19,1.44);
      
}
.project-description {
    margin-left: $project-container-marginleft;
    margin-bottom: 25px;
}

.project-container-heading {
    color: white;
    padding-left: $project-container-marginleft;
}

.project-groups {
    color: white;
    max-height: 40vh;
    overflow-y: scroll;
    margin-bottom: 0;
    transition: all .2s cubic-bezier(.87,-.41,.19,1.44);    
}

.project-group {
    color: white;
    position: relative;
    margin-top: 15px;
    cursor: pointer;
}

.project-group-heading {
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
}

.project-group-number {
    color: white;
    float: left; 
    padding-right: 20px;
    padding-top: 18px;
    padding-bottom: 25px;
    padding-left: 25px;
}

.project-group-caption {
    color: white;
    padding-top: 0;
    margin-top: 0;
}

.single-div-container {
    position: absolute;
    top: 50vh;
    right: 200px;
    transition: all .2s cubic-bezier(.87,-.41,.19,1.44);    
    
}

.single-div__calculator {
    position: relative;
    bottom: 15vh;
    height: 500px;
    right: 150px;
    transform: scale(2);
}

.sequencer-image {
    position: relative;
    bottom: 20vh;   
    right: 5; 
    width: 400px;
}

.tictactoe-image {
    position: relative;
    bottom: 20vh;   
    right: 125px; 
    width: 200px;    
}

.active-image {
    display: block;
}

.inactive-image {
    display: none;
}



@media (max-width: 1150px) and (min-width: 950px) {
.project-container {
    margin-left: 75px;
}
  .single-div-container {
      right: 150px;
  }

  .single-div__calculator {
      transform: scale(1.3);
  }

    .sequencer-image {
        right: -10vh;  
        width: 300px;
    }

    .tictactoe-image {
        position: relative;
        bottom: 20vh;   
        right: 0; 
        width: 170px;    
    }   

}

@media (max-width: 950px) { 
    .project-container {
        margin-left: 50px;
    }

  .single-div-container {
      position: relative;
      right: auto;
      margin: 0 auto;
      top: 100px;
  }
  .single-div__calculator {
      transform: scale(1.3);
      bottom: 45px;
      right: auto;
      left: auto;
  }

    .sequencer-image {
        bottom: 15px;  
        right: auto;
        display: block;
        margin: 0 auto;        
        width: 200px;
    }

    .tictactoe-image {
        bottom: 40px;  
        right: auto;
        display: block;
        margin: 0 auto;        
        width: 125px;  
    }  
    .project-groups {
        max-height: 200px;;
    } 

}
@media (max-width: 450px) { 
    .project-groups {
        max-height: 300px;
        margin-bottom: 100px;
    }
}