$nav-color: green;
$nav-transition-open: opacity .5s;
$nav-transition-close: opacity .5s, visibility .6s;

.project,
.home {

    .navigation-logo,
    .navigation-menu {
        position: fixed;
        top: 50px;
        transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44)
    }

    .navigation-menu {
        right: 100px;
        top: 55px;
        span {
            color: white;

            a {
                color: white;
            }
        }
    }

    .navigation-logo {
        color: white;
        left: 75px;
    }

    @media (max-width: 850px) {

        .navigation-menu {
            left: 75px;
            top: 75px;
            
        } 
    }    
}

.home {

    @media (max-width: 850px) {
        .navigation-logo {
            transform: rotate(90deg);
            left: -40px;
            top: 110px;
        }

        .navigation-menu {
            transform: rotate(90deg);
            left: -57px;
            right: auto;
            top: 125px;
        } 
    }
}