<nav class="navbar navbar-default navbar-fixed-top" [class.is-active]="isActive">
    <div class="container-fluid">
        <div class="h5 light">{{routeName}}</div>
    </div>

    <button [class.is-active]="isActive" (click)="toggleActive()" class="hamburger">
            <span>toggle menu</span>
    </button>
</nav>

<nav class="nav-text" [class.is-active]="isActive">
    <ul>
        <a href="/calculator">
            <li class="h2 link">Home</li>
        </a>
        <a href="#">
            <li class="h2 link">Projects</li>
        </a>
        <a href="#">
            <li class="h2 link">Code</li>
        </a>
        <a href="#">
            <li class="h2 link">GitHub</li>
        </a>
    </ul>
</nav>
<div class="nav-overlay" [class.is-active]="isActive" (click)="toggleActive()"></div>

<!--TODO: Using 'home' as a way for ngIf is probably a bad way -- figure out a better one-->
<my-project-view></my-project-view>
<my-project-selections *ngIf='routeName === "Home"' ></my-project-selections>
