<div class="col-md-12">
    <h2>{{currentPlayer.name}}</h2>
</div>

<!--generate the gameboard-->
<div class="col-md-12 ttc__game-board">
    <div class="row no-gutters ttc__game-board-row" *ngFor="let tileRow of tileBoard; let y = index">
        <div *ngFor="let tile of tileRow; let x = index" 
         class="col-xs-4 ttc__game-board-tile"
         (click)="setTile(x,y)">
            <div 
            [ngClass]="{'x': tileBoard[y][x]===0,'o':tileBoard[y][x]===1, 'null':tileBoard[y][x]===2 }"
            >
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 ttc__user-scoreboard">
    <div class="col-md-6 ttc__user-score">
        <h5 class="ttc__user-name">{{userOne.name}}</h5>
        <h5 class="ttc__user-tile">
            <span [ngSwitch]="userOne.tileType">
                <span *ngSwitchWhen="0">X</span>
                <span *ngSwitchWhen="1">O</span>
            </span>
        </h5>
        <h5 class="ttc__user-score">Score: {{userOne.score}}</h5>
    </div>
    <div class="col-md-6 ttc__user-score">
        <h5 class="ttc__user-name">{{userTwo.name}}</h5>
        <h5 class="ttc__user-tile">
            <span [ngSwitch]="userTwo.tileType">
                <span *ngSwitchWhen="0">X</span>
                <span *ngSwitchWhen="1">O</span>
            </span>
        </h5>
        <h5 class="ttc__user-score">Score: {{userTwo.score}}</h5>
    </div>
</div>