<div class="game-board">
    <span class="h4 current-player">{{currentPlayer.name}}'s Turn</span>
    <div class="board-rows">
        <div class="board-row" *ngFor="let tileRow of tileBoard; let y = index">
            <div *ngFor="let tile of tileRow; let x = index" class="board-tile" (click)="setTile(x,y)">
                <div [ngClass]="{'x': tileBoard[y][x]===0,'o':tileBoard[y][x]===1, 'null':tileBoard[y][x]===2 }"></div>
            </div>
        </div>
    </div>
    <div class="scoreboard">
        <span class="player-one">
            <p>{{userOne.name}} | Score: {{userOne.score}}</p>
        </span>
        <span class="player-two">
            <p>{{userTwo.name}} | Score: {{userTwo.score}}</p>
        </span>        
    </div>
</div>

<!--
<div class="col-md-12 ttc__user-scoreboard">
    <div class="col-md-6 ttc__user-score">
        <h5 class="ttc__user-name">{{userOne.name}}</h5>
        <h5 class="ttc__user-tile">
            <span [ngSwitch]="userOne.tileType">
                <span *ngSwitchWhen="0">X</span>
                <span *ngSwitchWhen="1">O</span>
            </span>
        </h5>
        <h5 class="ttc__user-score">Score: {{userOne.score}}</h5>
    </div>
    <div class="col-md-6 ttc__user-score">
        <h5 class="ttc__user-name">{{userTwo.name}}</h5>
        <h5 class="ttc__user-tile">
            <span [ngSwitch]="userTwo.tileType">
                <span *ngSwitchWhen="0">X</span>
                <span *ngSwitchWhen="1">O</span>
            </span>
        </h5>
        <h5 class="ttc__user-score">Score: {{userTwo.score}}</h5>
    </div>
</div>-->