<section id="page-grid" class="row no-gutters">

    <div my-hover-effect (click)="toggleClicked()" class="col-md-3 col-xs-6">
        <div class="box yellow">
            <a [routerLink]="['/tictactoe']">
                <div class="box-content" id="credit-card-form">
                    <h3>TicTacToe</h3>
                </div>
            </a>
        </div>
    </div>

    <div my-hover-effect (click)="toggleClicked()" class="col-md-3 col-xs-6">
        <div class="box white">
            <a [routerLink]="['/calculator']">
                <div class="box-content" id="credit-card-form">
                    <h3>Calculator</h3>
                    <div id="calculator"></div>
                </div>
            </a>
        </div>
    </div>

</section>