<section id="page-grid" class="row no-gutters">

    <!--<div class="col-md-4 col-sm-6">
        <div class="box yellow">
            <a [routerLink]="['/creditcardform']">
                <div class="box-content" id="credit-card-form">
                    <h3>Credit Card Form</h3>
                    <div id="credit-card"></div>
                    <p class="description">
                        Validation and Card Detection
                    </p>
                </div>
            </a>
        </div>
    </div>-->

    <div class="col-md-3 col-xs-6">
        <div class="box white">
            <a [routerLink]="['/calculator']">
                <div class="box-content" id="credit-card-form">
                    <h3>Calculator</h3>
                    <div id="calculator"></div>
                </div>
            </a>
        </div>
    </div>
</section>