<div class="stocks">
    <h1>stocks</h1>
    <div class="chart" my-stock-chart [ticker]='ticker' >
    <input [(ngModel)]='ticker' type="text" >
        <div class="date-range-container">
            <div class='date-range' (click)=updateDate(1) >5Y</div>
            <div class='date-range' (click)=updateDate(2) >1Y</div>
            <div class='date-range' (click)=updateDate(5) >6M</div>
            <div class='date-range' (click)=updateDate(7) >1M</div>
            <div class='date-range' (click)=updateDate(8) >1W</div>
            <div class='date-range' (click)=updateDate(9) >1D</div>
        </div>
    </div>
</div>
